<!DOCTYPE html>
<html>
<head>
  <title>Spotify Recommendation Engine</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <style>

  .result {
    color: #07120a;
  }

  body {
      background-color: #82ed9f;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }
    .container p {
      color: blue;
      font-size: 14px;
      margin-bottom: 5px;
    }
    .padding {
      padding: 20px;
    }
  </style>
</head>
<body>
  <div class="container mt-4">
    <h1>Spotify Recommendation Engine</h1>
    <h3>(Please try to enter the correct spelling)</h3>
    <h3>This website helps you to get song recommendations</h3>
    <h6>Created and Maintained by: Abhishek Kumar</h6>
    <form action="/" method="POST" class="mt-4">
      <div class="form-group">
        <label for="inputValue">Enter Input:</label>
        <input type="text" class="form-control" id="inputValue" name="inputValue" placeholder="Enter a value" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    {% if results %}
    <h2 class="mt-4 result">Results:</h2>
    <ul class="list-group">
      {% for result in results %}
      <li class="list-group-item result">{{ result }}</li>
      {% endfor %}
    </ul>
    {% endif %}

  </div>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
